<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="borala.Properties.Settings.BoraLati44ConnectionString"
            connectionString="Data Source=BoraLati44.mssql.somee.com;Initial Catalog=BoraLati44;Persist Security Info=True;User ID=BoraLaTi44_SQLLogin_1;Password=2eho328guj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>